<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.oauth2.mapper.FlySysMenuMapper">

    <resultMap id="BaseResultMap" type="com.zeroone.star.oauth2.entity.FlySysMenu">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nameEn" column="name_en" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="parentid" column="parentID" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,name_en,
        url,parentID,sort,
        visible
    </sql>
</mapper>
