<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.oauth2.mapper.FlySysUserMapper">

    <resultMap id="BaseResultMap" type="com.zeroone.star.oauth2.entity.FlySysUser">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="qicq" column="qicq" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="zipcode" column="zipcode" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="roleid" column="roleID" jdbcType="VARCHAR"/>
        <result property="deptid" column="deptID" jdbcType="INTEGER"/>
        <result property="positionid" column="positionID" jdbcType="INTEGER"/>
        <result property="intro" column="intro" jdbcType="VARCHAR"/>
        <result property="adt" column="adt" jdbcType="TIMESTAMP"/>
        <result property="identity" column="identity" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,password,
        name,gender,tel,
        mobile,qicq,address,
        zipcode,email,roleID,
        deptID,positionID,intro,
        adt,identity,status
    </sql>
</mapper>
